*.iml
.gradle
.agents
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# JetBrains IDE specific files
/.idea/tasks.xml
/.idea/vcs.xml
/.idea/shelf/
/.idea/usage.statistics.xml
/.idea/dictionaries/
/.idea/deploymentTargetSelector.xml
/.idea/appInsightsSettings.xml
